pytest
pytest-cov
pytest-print
pypiserver
# Needed because of the use of async mocks which were fully added in 3.8
mock; python_version < "3.8"
types-mock; python_version < "3.8"
build
hatchling
py-rattler
