# SPDX-FileCopyrightText: 2022 Contributors to the rez project
#
# SPDX-License-Identifier: Apache-2.0

# We do not want git to change line endings on the test wheel files.
# Changing EOL would change the hash values and file sizes.
* -text
