# SPDX-FileCopyrightText: 2022 Contributors to the rez project
#
# SPDX-License-Identifier: Apache-2.0

name: copywrite
on:
  pull_request:

permissions: {}

jobs:
  reuse:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.13

    - name: Install uv
      uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7.1.1

    - name: Check License Compliance
      run: uvx nox --default-venv-backend uv -s reuse
      env:
        # uv really wants to take control of what python it uses...
        # Force it to only use system pythons
        UV_PYTHON_PREFERENCE: only-system
        # When using nox with uv, it will try to automatically
        # install python using uv using "uv python install".
        # So tell uv that it can't do that. Nox will gracefully
        # handle the failure and fallback to the system python.
        UV_PYTHON_DOWNLOADS: '0'
