# SPDX-FileCopyrightText: 2022 Contributors to the rez project
#
# SPDX-License-Identifier: Apache-2.0

on:
  release:
    types: [published]

jobs:
  # Build the artifacts first, in an isolated job.
  # It's safer to build with a limited set of permissions. If
  # a build dependency got compromised, we don't want the GH token
  # to have 'contents: write' for example.
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: '3.13'

    - name: Generate git archives
      run: |
        set -ex
        REPO=$(echo $GITHUB_REPOSITORY | cut -d'/' -f2)
        mkdir -p dist/git
        git archive --prefix $REPO-$GITHUB_REF_NAME/ --format=zip --output=dist/git/$GITHUB_REF_NAME.zip $GITHUB_REF_NAME
        git archive --prefix $REPO-$GITHUB_REF_NAME/ --format=tar.gz --output=dist/git/$GITHUB_REF_NAME.tar.gz $GITHUB_REF_NAME

    - name: Install dependencies
      run: python -m pip install build
    - name: Build
      run: python -m build --sdist --wheel --outdir ./dist/python .

    - name: Upload to workflow (python)
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
      with:
        name: dist-python
        path: 'dist/python/*'

    - name: Upload to workflow (git)
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
      with:
        name: dist-git
        path: 'dist/git/*'

  attest-and-publish:
    runs-on: ubuntu-latest
    needs: [build]

    permissions:
      # Needed for pypa/gh-action-pypi-publish and actions/attest-build-provenance.
      id-token: write
      # Needed for uploading the assets to the GH release.
      contents: write
      # Needed for actions/attest-build-provenance.
      attestations: write

    steps:
    - name: Download artifacts (python)
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # 7.0.0
      with:
        name: dist-python
        path: dist/python

    - name: Download artifacts (git)
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # 7.0.0
      with:
        name: dist-git
        path: dist/git

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: python -m pip install pypi-attestations && find ./dist

    - name: Generate SLSA attestation for sdist
      id: sdist-attestation
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3.0.0
      with:
        subject-path: 'dist/python/*.tar.gz'

    - name: Generate SLSA attestation for wheel
      id: wheel-attestation
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3.0.0
      with:
        subject-path: 'dist/python/*.whl'

    # Convert the SLSA attestations to PyPI attestations and store them in dist/python.
    # Note that gh-action-pypi-publish uses twine to upload artifacts.
    # twine looks for files named "*.*.attestation" in the same directory as the artifact
    # to find the attestation for the artifact.
    # gh-action-pypi-publish itself generates the PyPI attestations using the name
    # *.publish.attestation. So we use *.slsa.attestation to avoid clashing with the publish
    # ones.
    - name: Convert SLSA attestations to PyPI attestations
      run: |
        set -ex
        pypi-attestations convert --output-file dist/python/$(basename $(ls dist/python/*.tar.gz)).slsa.attestation $SDIST_BUNDLE_PATH
        pypi-attestations convert --output-file dist/python/$(basename $(ls dist/python/*.whl)).slsa.attestation $WHEEL_BUNDLE_PATH
      env:
        SDIST_BUNDLE_PATH: ${{ steps.sdist-attestation.outputs.bundle-path }}
        WHEEL_BUNDLE_PATH: ${{ steps.wheel-attestation.outputs.bundle-path }}

    # This will upload the sdist and wheel to PyPI, generate the trusted publisher
    # attestation and also atatch the SLSA attestations.
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
      with:
        packages-dir: dist/python

    - name: Generate SLSA attestation for git archive zip
      id: git-archive-zip-attestation
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3.0.0
      with:
        subject-path: 'dist/git/${{ github.ref_name }}.zip'

    - name: Generate SLSA attestation for git archive tar.gz
      id: git-archive-tar-gz-attestation
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3.0.0
      with:
        subject-path: 'dist/git/${{ github.ref_name }}.tar.gz'

    - name: Upload artifacts to release
      run: |
        set -e
        mv -v $SDIST_BUNDLE_PATH dist/python/$(basename $(ls dist/python/*.tar.gz)).sigstore.json
        mv -v $WHEEL_BUNDLE_PATH dist/python/$(basename $(ls dist/python/*.whl)).sigstore.json
        mv -v $GIT_ARCHIVE_ZIP_BUNDLE_PATH dist/git/$GITHUB_REF_NAME.zip.sigstore.json
        mv -v $GIT_ARCHIVE_TAR_GZ_BUNDLE_PATH dist/git/$GITHUB_REF_NAME.tar.gz.sigstore.json

        # Remove PyPI attestation as it's not needed for the GH release artifacts.
        # Remember that the .attestations are created by pypa/gh-action-pypi-publish.
        rm -v dist/python/*.attestation

        set -x
        gh release upload --repo $GITHUB_REPOSITORY $GITHUB_REF_NAME $(find ./dist -type f)
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SDIST_BUNDLE_PATH: ${{ steps.sdist-attestation.outputs.bundle-path }}
        WHEEL_BUNDLE_PATH: ${{ steps.wheel-attestation.outputs.bundle-path }}
        GIT_ARCHIVE_ZIP_BUNDLE_PATH: ${{ steps.git-archive-zip-attestation.outputs.bundle-path }}
        GIT_ARCHIVE_TAR_GZ_BUNDLE_PATH: ${{ steps.git-archive-tar-gz-attestation.outputs.bundle-path }}
